@model Iamge_WebP.Models.Item

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Item Entry</div>
        <div class="panel-body">

  

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descreption" class="control-label"></label>
                <input asp-for="Descreption" class="form-control" />
                <span asp-validation-for="Descreption" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <img src="~/pic_default.png" id="uploadPreview" height="180" width="140" class="border-info" />
                </div>
                <label class="control-label">Image</label>
                <input type="file" id="uploadImage" onchange="PreviewImage()" name="image"/>
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

          
        </div>

    </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
</form>
    

        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>